<div class="min-vh-100">
  <div class="card">
    <div class="card-body px-4 py-3 card-body-title">
      <div class="row pt-3 pb-3">
        <div class="col-lg-12">
          <div class="row card-title">
            <div class="col-lg-9 label mt-2 mt-lg-0">
              <h4>
                <span [translate]="'Evaluations.Title'"></span>
              </h4>
            </div>
            <div class="col-lg-3 label mt-2 mt-lg-0">
              <div class="btn-group w-100 px-0" dropdown>
                <button id="download" type="button" dropdownToggle aria-controls="dropdown"
                        [disabled]="!(courseClassReports && courseClassReports.length > 0)"
                        class="btn btn-universis rounded responsive-width p-2 mt-2 d-none d-inline-flex justify-content-between align-items-center text-truncate">
                  <i class="fa fa-chevron-circle-down fa-lg"></i>
                  <span class="d-print-block align-self-center" [translate]="'CourseOutline.Print'"></span>
                  <span></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="download">
                  <ng-container *ngIf="courseClassReports && courseClassReports.length > 0">
                    <li role="button" *ngFor="let report of courseClassReports" class="dropdown-item"
                        (click)="printCourseOutline(report, data.id)">
                      <div>{{report.name}}</div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>

          <div *ngIf="data; else spanElse">
            <div class="row mt-3">
              <div class="col-lg-3 label mt-2 mt-lg-0">{{'Evaluations.EventStatus' | translate}}</div>
              <div class="col-3" [ngClass]="{'text-primary': data.eventStatus.alternateName ==='EventOpened',
                                'text-danger':data.eventStatus.alternateName ==='EventPostponed' || data.eventStatus.alternateName ==='EventCancelled',
                                'text-warning':data.eventStatus.alternateName ==='EventRescheduled',
                                'text-indigo':data.eventStatus.alternateName ==='EventScheduled',
                                'text-success':data.eventStatus.alternateName ==='EventCompleted'}">
                {{ 'EventStatusType.' + data.eventStatus?.alternateName | translate}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-3 label mt-2 mt-lg-0">{{'Evaluations.StartDate' | translate}}</div>
              <div class="col-3">{{data.startDate | date:'short' || '-'}}</div>
              <div class="col-lg-3 label mt-2 mt-lg-0">{{'Evaluations.EndDate' | translate}}</div>
              <div class="col-3">{{data.endDate | date:'short' || '-'}}</div>
            </div>
            <universis-evaluation-results [model]="data"></universis-evaluation-results>
          </div>
          <ng-template #spanElse>
            <span [translate]="'Evaluations.NotFound'"></span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
