<div class="row">
  <div class="col-12">
    <div class="row mt-2 mb-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="alert alert-primary" [translate]="'CourseOutline.Help'"></div>
        <advanced-form-edit #formEditGeneral [data]="data" [formName]="srcEditGeneral" (formSubmitted)="onCompletedSubmission($event)"></advanced-form-edit>
      </div>
    </div>
  </div>
</div>
